[user]
email = 104200+abkolan@users.noreply.github.com
name = abkolan

[credential]
helper =
helper = /usr/local/share/gcm-core/git-credential-manager

[pull]
rebase = true

[include]
path = ~/.gitconfig.d/aliases
path = ~/.gitconfig.d/tools
